<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="drink.image" [alt]="drink.name"></td>
            <td>{{drink.name}}</td>
            <td>{{drink.type}}</td>
            <td>{{drink.price}}</td>
            <td>{{drink.stock}}</td>
        </tr>
        <tr>
            <td>Levite</td>
            <td>Agua saborizada</td>
            <td>275</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Mirinda</td>
            <td>Gaseosa</td>
            <td>295</td>
            <td>6</td>
        </tr>
    </tbody>
</table>
