<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Sabor</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beverage of beverages" [ngClass]="{'clearance': beverage.clearance}">
            <td><img width="90" clas="img-thumbnail" [src]="beverage.image" [alt]="beverage.name"></td>
            <td>{{beverage.name}}</td>
            <td>{{beverage.type}}</td>
            <td>{{beverage.price | currency}}</td>
            <td>{{beverage.taste}}</td>
            <td><span class="badge bg-secondary" *ngIf="beverage.stock==0">SIN STOCK</span></td>
            <td>
                <app-input-integer [(quantity)]="beverage.quantity" [max]="beverage.stock" *ngIf="beverage.stock" (maxReached)="maxReached($event)"></app-input-integer>
            <button class="btn" (click)="addToCart(beverage)">Comprar</button>
            </td>
        </tr>
       
    </tbody>
</table>
